{{define "content"}}
<div class="card narrow">
  <h1>{{$.T "title.login"}}</h1>
  <form method="post" action="/login">
    <input type="hidden" name="next" value="{{index .D "Next"}}">
    <label>{{$.T "field.username"}} <input name="username" required autofocus autocomplete="username" value="{{index .D "Username"}}"></label>
    <label>{{$.T "field.password"}} <input type="password" name="password" required autocomplete="current-password"></label>
    <button class="primary">{{$.T "login.button"}}</button>
  </form>
</div>
{{end}}
