{{define "content"}}
<h1>{{$.T "plugin.title"}}</h1>
<div class="card">
  <h2>{{$.T "plugin.step1"}}</h2>
  {{if index .D "Available"}}
  <p><a class="button primary" href="/plugin/simplesync.zip">{{$.T "plugin.download"}}</a></p>
  <ol>
    <li>{{$.T "plugin.unzip"}} <code>&lt;vault&gt;/.obsidian/plugins/</code></li>
    <li>{{$.T "plugin.enable"}}</li>
  </ol>
  <p class="muted">{{$.T "plugin.brat"}} <code>jirkacepelka/SimpleSync</code></p>
  {{else}}
  <p>{{$.T "plugin.notBundled"}} <code>jirkacepelka/SimpleSync</code></p>
  {{end}}
</div>
<div class="card">
  <h2>{{$.T "plugin.step2"}}</h2>
  <p>{{$.T "plugin.fillIn"}}</p>
  <table class="kv">
    <tr><th>{{$.T "plugin.serverAddress"}}</th><td><code>{{index .D "ServerURL"}}</code></td></tr>
    <tr><th>{{$.T "field.username"}}</th><td><code>{{.User.Username}}</code></td></tr>
    <tr><th>{{$.T "field.password"}}</th><td>{{$.T "plugin.yourPassword"}}</td></tr>
  </table>
  <p>{{$.T "plugin.finish"}}</p>
</div>
{{end}}
